<div class="contact-form-container" [ngStyle]="{'padding-top' : isOffset ? '150px' : '50px'}">
  <div class="container-xl" [attr.data-aos]="'fade-up'" data-aos-duration="2000" data-aos-anchor-placement="center-bottom">
    <div class="d-flex row align-items-center">
      <div class="form d-flex flex-column col-lg-6 col-md-12">
        <span class="contact-form-container__header">{{'need_solution_title' | translate}}</span>
        <span class="contact-form-container__description">{{'contact_us_title' | translate}}</span>
        <div class="d-flex row gx-5">
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{'name_field' | translate}}</mat-label>
              <input matInput required>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{'company_field' | translate}}</mat-label>
              <input matInput required>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex row gx-5">
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{'corporate_email_field' | translate}}</mat-label>
              <input matInput required>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{'subject_field' | translate}}</mat-label>
              <input matInput required>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex row">
          <div class="col-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{'additional_field' | translate}}</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="upload-container">
          <div class="upload-container__button">
            {{'upload_file_field' | translate}}
          </div>
        </div>
        <div class="d-flex row">
          <div class="col-8">
              <span class="send-label">
                {{'send_desc' | translate}}
              </span>
          </div>
          <div class="col-4">
            <div class="send-button">
              {{'send_button' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end col-lg-6 col-md-12">
        <img src="assets/images/contact_image.png">
      </div>
    </div>
  </div>
</div>
