<div class="team-container">
  <div class="shadow-block">

  </div>
  <div class="container-xl d-flex flex-column justify-content-center h-100 content-container">
    <span class="header">{{'who_we_are_title' | translate}}</span>
    <span class="title">{{'professional_team_title' | translate}}</span>
    <span class="subtitle">{{'professional_team_desc' | translate}}</span>
    <div class="team-button-container">
      <div class="team-button">
        {{'all_team_title' | translate}}
      </div>
    </div>
  </div>
</div>
