<div class="cooperation-container">
  <div class="container-xl d-flex flex-column">
    <span class="cooperation-container__header">{{'services' | translate}}</span>
    <span class="cooperation-container__description">{{'services_description' | translate}}</span>
    <div class="row">
      <div class="col-6">
        <img src="assets/images/solo.png">
      </div>
      <div class="col-6 cooperation-container__card">
          <span class="header">
            {{'staff_model_title' | translate}}
          </span>
        <span class="description">
            {{'staff_model_desc' | translate}}
          </span>
      </div>
    </div>
    <div class="row">
      <div class="col-6 cooperation-container__card">
          <span class="header">
            {{'dedicated_model_title' | translate}}
          </span>
        <span class="description">
            {{'dedicated_model_desc' | translate}}
          </span>
      </div>
      <div class="col-6">
        <img src="assets/images/team.png">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <img src="assets/images/contact_image.png">
      </div>
      <div class="col-6 cooperation-container__card">
        <span class="header">
            {{'project_model_title' | translate}}
        </span>
        <span class="description">
            {{'project_model_desc' | translate}}</span>
      </div>
    </div>
  </div>
</div>
