@import 'src/styles/colors';

.cooperation-container {
  padding: 100px 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: $grey;

  &__header {
    font-weight: 400;
    font-size: 46px;
    line-height: 58px;
    color: $white;
    padding-bottom: 50px;
  }

  &__description {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: $white;
    max-width: 600px;
    padding-bottom: 50px;
  }

  &__image {
    max-width: 450px;
    padding-bottom: 30px
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;

    .header {
      font-weight: 600;
      font-size: 36px;
      line-height: 45px;
      text-transform: capitalize;
      padding-bottom: 50px;
    }

    .description {
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
    }
  }
}


@media (max-width: 962px) {
  .cooperation-container {
    &__image {
      width: 400px;
      padding-bottom: 40px;
    }

    &__card {
      .header {
        font-size: 26px;
        line-height: 30px;
      }

      .description {
        font-size: 18px;
        line-height: 23px;
      }
    }
  }
}

@media (max-width: 576px) {
  .cooperation-container {
    &__image {
      width: 300px;
      padding-bottom: 40px;
    }

    &__card {
      .header {
        padding-bottom: 20px
      }

      .description {
        padding-bottom: 50px
      }
    }
  }
}
