<div class="footer-container">
  <div class="container-xl">

    <div class="d-flex row footer-row">
      <div class="col-4">
        <img src="assets/logo.svg" alt="logo">
      </div>
      <div class="col-4 d-flex flex-column p-2">
          <span class="footer-link">
            {{'contact_us_title' | translate}}
          </span>
        <div>
            <span class="country">
              Belarus
            </span>
          <span class="number">
              +375 (29) 26 777 27
            </span>
        </div>
        <div class="">
            <span class="country">
              Germany
            </span>
          <span class="number">
              +52 (425) 224 2354
            </span>
        </div>
        <div class="">
            <span class="country">
              Poland
            </span>
          <span class="number">
              +48 (517) 370 938
            </span>
        </div>
      </div>
      <div class="col-4 d-flex flex-column p-2">
          <span class="footer-link">
            {{'how_it_works' | translate}}
          </span>
        <span class="footer-link">
            {{'team' | translate}}
          </span>
        <span class="footer-link">
            {{'services' | translate}}
          </span>
        <span class="footer-link">
            {{'cooperation_models_title' | translate}}
          </span>
      </div>
    </div>

    <div class="d-flex align-items-center flex-column p-3">
      <span>{{'footer_rules' | translate}}</span>
      <span> {{'footer_address' | translate}}</span>
    </div>

  </div>
</div>
