@import "colors";

::ng-deep.ng13-org-chart-entity-box {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $red!important;
  background-color: $white!important;
  border-radius: 8px;
  box-shadow: none!important;
  max-width: 500px;
  max-height: 500px;
  min-width: 32px;
  min-height: 32px;
  overflow: hidden;
  transition: max-width .25s,max-height .25s,border-radius .25s,padding .25s,margin .25s;
}
