<div class="technology-container">
  <div class="container-xl d-flex flex-column">
    <span class="technology-container__header">{{'technology_stack_title' | translate}}</span>
    <span class="technology-container__description">{{'technology_stack_desc' | translate}}</span>
    <div class="technology-container__section">
        <span class="stack-name">
          {{'frond_end' | translate}}
        </span>
      <div class="d-flex align-items-end row gx-3" data-aos="fade-right" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
        <div class="col-12 col-md-3">
          <div class="stack__card">
            <img src="assets/icons/react_icon.svg">
            <span class="technology-name">
              {{'react' | translate}}
            </span>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="stack__card">
            <img src="assets/icons/angular_icon.svg">
            <span class="technology-name">
              {{'angular' | translate}}
            </span>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="stack__card">
            <img src="assets/icons/js_icon.svg">
            <span class="technology-name">
              {{'javascript' | translate}}
            </span>
          </div>
        </div>
      </div>
      <span class="stack-name">
          {{'back_end' | translate}}
        </span>
      <div class="d-flex align-items-end row gx-3" data-aos="fade-left" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
        <div class="col-12 col-md-3">
          <div class="stack__card">
            <img src="assets/icons/net_icon.svg">
            <span class="technology-name">
              {{'net' | translate}}
            </span>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="stack__card">
            <img src="assets/icons/php_icon.svg">
            <span class="technology-name">
              {{'php' | translate}}
            </span>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="stack__card">
            <img src="assets/icons/java_icon.svg">
            <span class="technology-name">
              {{'java' | translate}}
            </span>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="stack__card">
            <img src="assets/icons/node-js_icon.svg">
            <span class="technology-name">
              {{'nodejs' | translate}}
            </span>
          </div>
        </div>
      </div>
      <span class="stack-name">
          {{'mobile' | translate}}
        </span>
      <div class="d-flex align-items-end row gx-3" data-aos="fade-right" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
        <div class="col-12 col-md-3">
          <div class="stack__card">
            <img src="assets/icons/ios_icon.svg">
            <span class="technology-name">
              {{'ios' | translate}}
            </span>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="stack__card">
            <img src="assets/icons/android_icon.svg">
            <span class="technology-name">
              {{'android' | translate}}
            </span>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="stack__card">
            <img src="assets/icons/flutter_icon.svg">
            <span class="technology-name">
              {{'flutter' | translate}}
            </span>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="stack__card">
            <img src="assets/icons/react-native_icon.svg">
            <span class="technology-name">
              {{'react_native' | translate}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
