<div class="stripe-container">
  <div class="container-xl">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 stripe-container__card">
        <div class="value">
          <img src="../../../assets/icons/brain_icon.svg" alt="brain">
          <span>5+</span>
        </div>
        <span class="description">{{'average_experience' | translate}}</span>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 stripe-container__card">
        <div class="value">
          <img src="../../../assets/icons/users_tree_icon.svg" alt="users">
          <span>20+</span>
        </div>
        <span class="description">{{'team_members' | translate}}</span>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 stripe-container__card">
        <div class="value">
          <img src="../../../assets/icons/code_icon.svg" alt="code">
          <span>10+</span>
        </div>
        <span class="description">{{'embrace_technologies' | translate}}</span>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 stripe-container__card">
        <div class="value">
          <img src="../../../assets/icons/rocket_icon.svg" alt="rocket">
          <span>50+</span>
        </div>
        <span class="description">{{'projects_completed' | translate}}</span>
      </div>
    </div>
  </div>
</div>
