<div class="welcome-page">
  <div class="background">
    <div class="content container-xl">
         <span class="welcome-page__title py-2">
           {{'digital_solutions' | translate}}<br><span class="red">{{'fast' | translate}}</span> {{'and' | translate}}
           <span class="red">{{'easy' | translate}}</span>
          </span>

      <span class="welcome-page__subtitle">
            {{'welcome_desc' | translate}}
          </span>

      <div class="d-flex py-2">
        <div class="welcome-page__button">
          {{'get_started' | translate}}
        </div>
      </div>

    </div>

  </div>
</div>
