@import "src/styles/colors";

.background {
  background-color: #2e2e2e;
  padding-top: 90px
}

.step-icon {
  width: 24px;
  height: 24px;
}

::ng-deep.p-card-title{
  color: $red
}

::ng-deep.p-chip{
  margin-bottom: 20px;
}

::ng-deep.p-timeline .p-timeline-event-connector {
  background-color: #aaaaaa
}
