<div class="services-container container-xl">
  <span class="services-container__header">{{'services' | translate}}</span>
  <span class="services-container__description">{{'services_description' | translate}}</span>

  <div class="services-container__table ">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 services-container__card">
        <div class="value">
          <img src="../../../assets/icons/desktop_icon.svg" alt="desktop">
          <span>{{'web_development_title' | translate}}</span>
        </div>
        <span class="description">{{'web_development_desc' | translate}}</span>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 services-container__card">
        <div class="value">
          <img src="../../../assets/icons/device-mobile_icon.svg" alt="mobile">
          <span>{{'mobile_development_title' | translate}}</span>
        </div>
        <span class="description">{{'mobile_development_desc' | translate}}</span>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 services-container__card">
        <div class="value">
          <img src="../../../assets/icons/paint-brash_icon.svg" alt="brush">
          <span>{{'design_title' | translate}}</span>
        </div>
        <span class="description">{{'design_desc' | translate}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 services-container__card">
        <div class="value">
          <img src="../../../assets/icons/detective_icon.svg" alt="detective">
          <span>{{'quality_assurance_title' | translate}}</span>
        </div>
        <span class="description">{{'quality_assurance_desc' | translate}}</span>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 services-container__card">
        <div class="value">
          <img src="../../../assets/icons/git-pull_icon.svg" alt="pull">
          <span>{{'api_integration_title' | translate}}</span>
        </div>
        <span class="description">{{'api_integration_desc' | translate}}</span>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 services-container__card">
        <div class="value">
          <img src="../../../assets/icons/git-fork_icon.svg" alt="fork">
          <span>{{'product_scaling_title' | translate}}</span>
        </div>
        <span class="description">{{'product_scaling_desc' | translate}}</span>
      </div>
    </div>
  </div>
</div>
