
<div class="container-fluid p-0 m-0">
  <header></header>
  <div class="team-page__description"  data-aos="fade-right" data-aos-anchor-placement="top-center" >
    <div class="container-xl d-flex flex-column">
      <span class="title">
        {{'professional_team_title' | translate}}
      </span>
        <span class="content">
        {{'services_description' | translate}}
      </span>
    </div>
  </div>
  <div class="container-xl team-page__members">
    <span class="header">
      {{'specialists' | translate}}
    </span>
    <div class="members-container row" data-aos="fade-right" data-aos-anchor-placement="center-bottom" >
      <div class="member-card col-3" *ngFor="let item of teamMembers">
        <div>
          <img class="image" src="{{item.url}}">
        </div>
        <span class="name"> {{item.name}}
      </span>
        <span class="job-title">
        {{item.title}}
      </span>
      </div>
    </div>
  </div>
  <contacts></contacts>
  <footer></footer>
</div>
